@import './windmill-utils';
@import './windmill-lib';

// ------------------------------
// Default settings
// ------------------------------

// Please override with your own preferences
// after importing this file to your Sass project.

// A map of (breakpoint-name: minimum screen width),
// order from small to large.
$wm-breakpoints: (
    all: 0px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
) !default;

// Temporary selector name to be replaced by breakpoint-name.
$wm-breakpoint-placeholder: SCR !default;

// Temporary selector name to be replaced by value-name.
$wm-value-placeholder: VAL !default;

// If use the breakpoint-prefix on minimum screen width, set true.
//
// Example:
// Selector: .foo-SCR-bar
// Breakpoints: (all: 0px, sm: 576px, md: 768px, ...)
// If true: .foo-all-bar
// If false: .foo--bar
$wm-min-breakpoint-prefix: false !default;

// When $wm-min-breakpoint-prefix is false,
// the number of strings that delete from selector together.
//
// Example:
// Selector: .foo-SCR-bar
// If 0: .foo--bar
// If 1: .foo-bar
// If 2: .foo-ar
// If -2: .fo-bar
$wm-min-breakpoint-addition: 1 !default;

// ------------------------------
// Main mixin
// ------------------------------

$wm-mixin-name: 'windmill';
$wm-warning-title: '[Windmill warn]: ';

@mixin windmill(//
    // A map of (property: value),
    // value can contains variables of "[variable]".
    // Example: (width: 1rem, height: [val])
    $declarations: null,

    // A map of (value-variable: (value-name: value)).
    // Example: (val: (1: 1rem, 2: 2rem, 3: 3rem))
    $values: null,

    // A list of (value-name, value-name, value-name, ...),
    // you can remove specific value-name from $values.
    $remove: null,

    // If receives $breakpoints, $selector has to contain $wm-breakpoint-placeholder.
    // Example: .SCR-foo
    //
    // If receives $values, $selector has to contain $wm-value-placeholder.
    // Example: .foo-VAL
    $selector: null,
    $breakpoints: $wm-breakpoints,

     // If true, outputs no styles.
    $disable: false
) {
    $declarations: wm-make-declarations-with-shorthand($declarations);
    $values: wm-make-values-with-shorthand($values);

    @if $selector {
        $selector: wm-to-string($selector);
    } @else {
        $selector: wm-to-string(&);
    }

    @if $breakpoints == true {
        $breakpoints: $wm-breakpoints;
    }
    @if length(wm-split-selector-without-substr($selector, $wm-breakpoint-placeholder)) == wm-get-selector-group-number($selector) {
    // If $selector contains no $wm-breakpoint-placeholder,
    // sets false to $breakpoints.
        $breakpoints: false;
    }

    // Fallback for old specification.
    // Will be removed in version 1.2.0.
    @if $declarations {
        $declarations: wm-apply-fallback-to-declarations($declarations);
    }
    @if $values {
        $values: wm-apply-fallback-to-values($values);
    }

    $no-exception: wm-handle-exception($selector, $breakpoints, $declarations, $values, $disable);
    @if $no-exception {
        // Removes specific value-name from $values.
        @if $values and $remove {
            $values: wm-remove-value-names($values, $remove...);
        }

        // Warns mismatch that the number of variables in $declarations and $values.
        @if $declarations and $values {
            @include wm-warn-var-number-mismatch($declarations, $values);
        }

        @if not $breakpoints {
            @include output-styles-without-var($selector, false, false, $declarations, $values) {
                @content;
            }
            @if $declarations and $values {
                @each $value-name in wm-get-value-names($values) {
                    @include output-styles-with-var($selector, false, false, $declarations, $values, $value-name);
                }
            }
        }

        @if $breakpoints {
            @each $breakpoint-name, $breakpoint in $breakpoints {
                @include wm-mq($breakpoint) {
                    @include output-styles-without-var($selector, $breakpoints, $breakpoint-name, $declarations, $values) {
                        @content;
                    }
                    @if $declarations and $values {
                        @each $value-name in wm-get-value-names($values) {
                            @include output-styles-with-var($selector, $breakpoints, $breakpoint-name, $declarations, $values, $value-name);
                        }
                    }
                }
            }
        }
    }
}
