@import './windmill';

// Basic example:

$wm-breakpoints: (
    all: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);

$your-project-spaces: (
    1: 0.25rem,
    2: 0.5rem,
    3: 0.75rem
);

.SCR-mb-VAL {
    @include windmill(
        $declarations: (
            margin-bottom: '$any-string$'
        ),
        $values: (
            '$any-string$': $your-project-spaces
        )
    );
}