@import './windmill';

// Override default settings.
$wm-breakpoints: (
    all: 0,
    sm: 576px,
    // md: 768px
);
$wm-breakpoint-placeholder: SCR;
$wm-value-placeholder: VAL;
$wm-min-breakpoint-prefix: false;
$wm-min-breakpoint-addition: 1;

// If set a id or list of ids, outputs test with specified id.
// If set "all" string, outputs all test.
// If set null, outputs nothing.
$test-setting: all;

@mixin test-windmill($id, $windmill-args...) {
    @if $test-setting == null {
        // Outputs nothing
    } @else if $test-setting == all {
        @include windmill($windmill-args...) {
            @content;
        }
    } @else if type-of($test-setting) == string {
        @if $id == $test-setting {
            @include windmill($windmill-args...) {
                @content;
            }
        }
    } @else if type-of($test-setting) == list {
        @each $specified-id in $test-setting {
            @if $id == $specified-id {
                @include windmill($windmill-args...) {
                    @content;
                }
            }
        }
    }
}

$test-values: (
    1: 1rem,
    2: '2rem',
    3: "3rem",
    4: -4rem,
    auto: auto
);

/* ------------------------------
Omit the breakpoint-placeholder
------------------------------ */

.test {
    @include test-windmill(
        $id: omit
    ) {
        display: block;
    }
}

/* with $vars */

.test-VAL {
    @include test-windmill(
        $id: omit,
        $content: (margin: [val]),
        $vars: (val: $test-values)
    );
}

/* ------------------------------
Shorthand
------------------------------ */

.SCR-test-VAL {
    @include test-windmill(
        $id: shorthand,
        $content: margin,
        $vars: $test-values
    );
}

/* with important frag */

.SCR-test-VAL {
    @include test-windmill(
        $id: shorthand,
        $content: (margin, true),
        $vars: $test-values
    );
}

/* ------------------------------
Main
------------------------------ */

.SCR-test {
    @include test-windmill(
        $id: main
    ) {
        display: block;
    }
}

/* Use $content and content block */

.SCR-test {
    @include test-windmill(
        $id: main,
        $content: (
            display: block
        )
    ) {
        text-align: center;
    }
}

/* Use $content and content block and $vars */

.SCR-test-VAL {
    @include test-windmill(
        $id: main,
        $content: (
            display: block,
            margin: -[val] 0
        ),
        $vars: (val: $test-values)
    ) {
        text-align: center;
    }
}

/* ------------------------------
Use $selector
------------------------------ */

@include test-windmill(
    $id: selector,
    $selector: '.SCR-foo'
) {
    display: block;
}
