@import './windmill';

// Override default settings.
$wm-breakpoints: (
    all: 0px,
    sm: 576px
);
$wm-breakpoint-placeholder: BR;
$wm-value-placeholder: VAL;
$wm-min-breakpoint-prefix: false;
$wm-min-breakpoint-addition: 1;

// If you set test names, outputs target tests.
// If you set "all" string, outputs all tests.
// If you set null, outputs nothing.
$enabled-test-names: all;

@mixin test-windmill($test-names, $windmill-args...) {
    @if $enabled-test-names == null {
        // Outputs nothing
    } @else if $enabled-test-names == all {
        @include windmill($windmill-args...) {
            @content;
        }
    } @else {
        @each $enabled-test-name in $enabled-test-names {
            @each $test-name in $test-names {
                @if $test-name == $enabled-test-name {
                    @include windmill($windmill-args...) {
                        @content;
                    }
                }
            }
        }
    }
}

$test-values: (
    1: 1rem,
    2: '2rem',
    3: "3rem",
    4: -4rem,
    auto: auto
);

/* ------------------------------
Main
------------------------------ */

/* Pattern 1: */
/* $breakpoints: falsy, $vars: falsy */

.test {
    @include test-windmill(
        $test-names: (main, main1),
        $breakpoints: false
    ) {
        display: block;
    }
}

/* Pattern 2: */
/* $breakpoints: falsy, $vars: truthy */

.test-VAL {
    @include test-windmill(
        $test-names: (main, main2),
        $content: (margin: [val]),
        $vars: (val: $test-values),
        $breakpoints: false
    );
}

/* Pattern 3: */
/* $breakpoints: truthy, $vars: falsy */

.BR-test {
    @include test-windmill(
        $test-names: (main, main3)
    ) {
        display: block;
    }
}

/* Pattern 4: */
/* $breakpoints: truthy, $vars: truthy */

.BR-test-VAL {
    @include test-windmill(
        $test-names: (main, main4),
        $content: (margin: [val]),
        $vars: (val: $test-values)
    );
}

/* ------------------------------
Omit the breakpoint-placeholder
------------------------------ */

.test-VAL {
    @include test-windmill(
        $test-names: omit,
        $content: (margin: [val]),
        $vars: (val: $test-values)
    );
}

/* ------------------------------
Use shorthand function
------------------------------ */

.test-VAL {
    @include test-windmill(
        $test-names: (shorthand, shorthand1),
        $content: margin,
        $vars: $test-values
    );
}

/* with multiple property (list) */

.test-VAL {
    @include test-windmill(
        $test-names: (shorthand, shorthand2),
        $content: (margin, padding),
        $vars: $test-values
    );
}

/* with multiple property (no-brackets list) */

.test-VAL {
    @include test-windmill(
        $test-names: (shorthand, shorthand3),
        $content: margin padding,
        $vars: $test-values
    );
}

/* with Important frag (string) */

.test-VAL {
    @include test-windmill(
        $test-names: (shorthand, shorthand4),
        $content: 'margin !important',
        $vars: $test-values
    );
}

/* with Important frag (list) */

.test-VAL {
    @include test-windmill(
        $test-names: (shorthand, shorthand5),
        $content: (margin !important, padding),
        $vars: $test-values
    );
}

/* with Important frag (no-brackets list) */

.test-VAL {
    @include test-windmill(
        $test-names: (shorthand, shorthand6),
        $content: margin !important padding,
        $vars: $test-values
    );
}

/* ------------------------------
Use $remove
------------------------------ */

.BR-test-VAL {
    @include test-windmill(
        $test-names: remove,
        $content: (
            margin: [val]
        ),
        $vars: (val: $test-values),
        $remove: (1, 4)
    );
}

/* ------------------------------
Use $selector
------------------------------ */

@include test-windmill(
    $test-names: selector,
    $selector: '.BR-foo'
) {
    display: block;
}

/* ------------------------------
The case where normal declarations are mixed
------------------------------ */

.BR-test-VAL {
    @include test-windmill(
        $test-names: mixed1,
        $content: (
            margin: [val],
            display: inline-block,
        ),
        $vars: (val: $test-values)
    ) {
        text-align: center;
    }
}

/* ------------------------------
The case where normal values are mixed
------------------------------ */

.BR-test-VAL {
    @include test-windmill(
        $test-names: mixed2,
        $content: (
            margin: 1rem -[val] 1rem -[val]
        ),
        $vars: (val: $test-values)
    );
}

/* ------------------------------
The case where use multiple variables
------------------------------ */

.BR-test-VAL {
    @include test-windmill(
        $test-names: complex,
        $content: (
            margin: [val1] [val2]
        ),
        $vars: (
            val1: (1: 10px, 2: 20px, 3: 30px),
            val2: (3: 3rem, 4: 4rem, 5: 5rem)
        )
    );
}
